/*General CSS*/
body {
	background-color: white;
	padding: 0px;
	margin: 0px;
	font-size: 16px;
	font-family: Arial, Calibri;

}
nav {
	background-color: #A9AA39;

}
nav #nav-list {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

nav ul li {
	padding: 16px;
	text-align: center;
	border: 1px solid black;
	transition: background-color 0.3s, padding 0.8s linear;
}


nav ul li:hover {
	background-color: black;
}


a {
	text-decoration: none;
	color: white;
}







/*for responsive web design*/
@media screen and (min-width: 700px){
	nav ul {
		text-align: right;
	}
	nav ul li{
		display: inline-block;
		border: 0px;
		text-align: left;
	}
}